* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    color: #ccc;
    /*overflow: visible;*/


}

header {
    z-index: 99;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h1,
a {
    color: #34495e;
}

.header a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.25vw;
}

.main-nav {
    margin-top: 0.5vh;
}

.logo a,
.main-nav a {
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: bold;
}

.main-nav a {
    color: #34495e;
    font-size: 1vw;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: 0.5vh;
    padding-bottom: 0.8vh;
    border: 0.1vw solid #a2a2a2;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 88.4%;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}